# Node JS
node_modules/
package-lock.json

# Environtment Variables
.env
.env.*
!.env.example

# Code Editor
.vscode/

# Misc
*.pdf
public/**/*.css
public/**/*.js
!public/**/*.min.css
!public/**/*.min.js
