# Node JS
node_modules/
package-lock.json

# Environtment Variables
.env
.env.*
!.env.example

coverage/

# Code Editor
.vscode/

# Misc
data/
*.pdf
!tests/**/*.pdf
public/**/*.css
public/**/*.js
!public/**/*.min.css
!public/**/*.min.js
