<div class="d-flex justify-content-center align-items-center flex-column about-container">
    <img src="public/unsri.png" alt="UNSRI Logo" width="200px">

    <div class="border border-dark p-2 rounded">
        <p>Mahasiswa: Muhammad Naufal Kateni (09021281924062)</p>
        <p>Dosen Pembimbing 1: Osvari Arsalan, S.Kom., M.T. (198806282018031001)</p>
        <p>Dosen Pembimbing 2: Junia Kurniati, M.Kom. (1671046606890018)</p>
    </div>

    <div class="border border-dark p-2 rounded">
        <div>
            Program ini bernama PDF Digital Signature yang bertujuan untuk mengecek keaslian suatu file PDF menggunakan metode Tanda Tangan Digital atau
            Digital Signature. Pada program ini diperlukan autentikasi yang berguna untuk membangkitkan kunci pribadi pada Algoritma AES. Fitur utama pada progrram
            ini terbagi menjadi dua yaitu membuat tanda tangan digital dan mengecek keaslian file PDF.
        </div>

        <div>
            <p>Berikut adalah langkah-langkah untuk membuat tanda tangan digital:</p>
            <p>1. Unggah satu atau lebih file PDF yang akan ditandatangani.</p>
            <p>2. Tekan tombol "Buat" pada file PDF yang telah diunggah.</p>
            <p>3. Masukkan kunci publik dengan panjang 1-32 karakter.</p>
            <p>4. Tekan lagi tombol "Buat" pada form.</p>
            </di>

            <div>
                <p>Berikut adalah langkah-langkah untuk mengecek keaslian file PDF:</p>
                <p>1. Pilih salah satu file PDF hash dari dropdown.</p>
                <p>2. Unggah file PDF yang akan dicek keasliannya.</p>
                <p>3. Tekan tombol "Bandingkan" dan lihat hasilnya.</p>
            </div>
        </div>
    </div>
