<div class="d-flex justify-content-center align-items-center flex-column text-center about-container">
    <img src="public/unsri.png" alt="UNSRI Logo" width="250px">

    <div class="d-flex justify-content-center flex-column about-inner-container">
        <div class="d-flex align-items-center flex-column rounded p-2">
            <p>Developed by: Muhammad Naufal Kateni (09021281924062)</p>
            <p>Supervised by: Osvari Arsalan, S.Kom, M.T. (198806282018031001) </p>
        </div>

        <div class="rounded p-2">
            <p>
                PDF Digital Signature is an application that can be used to sign PDF documents with a digital signature and verify the signature to ensure that whether the document has been manipulated or not.
                In this application, the algorithm used for hashing is <a href="https://en.wikipedia.org/wiki/BLAKE_(hash_function)" rel="noopener noreferrer">BLAKE2s</a> and the algorithm used for encryption and decryption is <a href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" rel="noopener noreferrer">AES</a>.
            </p>
        </div>
    </div>

</div>
