<div class="d-flex justify-content-center align-items-center flex-column text-center">
    <h1>Masuk</h1>

    <form action="/login" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="usernameInput" name="username" placeholder="johndoe" autofocus required>
            <label for="usernameInput">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="******" minlength="6" required>
            <label for="passwordInput">Password</label>
        </div>

        <div class="mb-3">
            <p>Belum mempunyai akun? <a href="/register">Daftar</a></p>
        </div>

        <button type="submit" class="btn btn-primary" title="Login">
            <span>Masuk</span>
        </button>
    </form>
</div>
