<div class="d-flex justify-content-center align-items-center flex-column text-center">
    <h1>Register</h1>

    <form action="/register" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="usernameInput" name="username" placeholder="johndoe" autofocus required>
            <label for="usernameInput">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="******" minlength="6" required>
            <label for="passwordInput">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirmPasswordInput" name="confirmPassword" placeholder="******" required>
            <label for="confirmPasswordInput">Confirm Password</label>
        </div>

        <div class="mb-3">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>

        <button type="submit" class="btn btn-primary" title="Register">
            <span>Register</span>
        </button>
    </form>
</div>
