@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mint-cream: #eef4ed;
    --pewter-blue: #8da9c4;
    --oxford-blue: #0b2545;
    --prussian-blue: #13315c;
    --indigo-dye: #134074;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
    background-color: var(--mint-cream);
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: var(--indigo-dye);
    color: var(--mint-cream);
    padding-left: 2rem;
}

nav > p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    outline: none;
    color: #0b2545;
}

a:is(:hover, :focus) {
    text-decoration: underline;
}

.btn {
    background-color: transparent;
    border: 1px solid var(--oxford-blue);
    box-sizing: border-box;
    color: #00132c;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    outline: none;
}

.btn:is(:hover, :focus) {
    background-color: transparent;
    cursor: pointer;
}

.btn:before {
    background-color: #d5edf6;
    content: '';
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.btn:is(:hover, :focus):before {
    background-color: #6dcff6;
}

@media (min-width: 768px) {
    .btn {
        padding: 16px 32px;
    }
}

.uploads_container {
    width: 100%;
}

.uploads_form {
    display: flex;
    gap: 3rem 0;
    flex-direction: column;
    align-items: center;
    color: var(--oxford-blue);
}

label[for='files'] {
    z-index: 1;
    border: none;
    background: transparent;
    padding: 10px 20px;
    color: var(--mint-cream);
    fill: var(--oxford-blue);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    cursor: pointer;
}

.files_form_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem 0;
    width: 100%;
    padding: 0 2rem;
}

.files_form_group > input[type='file'] {
    display: none;
}

.files_form_group > textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--oxford-blue);
    font-weight: 700;
    padding: 16px 0;
    background-color: var(--mint-cream);
    caret-color: var(--oxford-blue);
    resize: vertical;
}

.files_form_group > textarea:focus {
    outline: none;
}

.pdf_table {
    width: 85vw;
    border-collapse: collapse;
}

.pdf_tbody_row {
    height: 8rem;
    border-bottom: 1px solid var(--mint-cream);
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
}

.pdf_col_name {
    width: 70%;
}

.pdf_col {
    width: 15%;
}

.pdf_name_container {
    display: flex;
    flex-direction: column;
    gap: 0 1rem;
}

.pdf_name_note {
    font-size: 12px;
    font-weight: 700;
    color: var(--pewter-blue);
}
